#base{
    background-color:#3b5998;
    border: gray  solid 1px;
    border-radius: 3px;
    width: 848px;
    height: 350px;
    position: relative;
    margin: 0 auto;
        
}

#barra{
    background-color:white;
    width: 850px;
    height: 50px;
    position: absolute;
    top: 300px;
    
    
}

#nave{
    position: absolute;
    top: 270px;
    left: 620px;
    font-size: 14px;
    font-family: arial;
    color: black;
    font-weight: bold;
    
   
}


#foto{
    background-color: #3b5998;
    border: gray solid 1px;
    border-radius: 3px;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 130px;
    left: 20px;
    
    
}

#nome{
    font-size: 30px;
    font-weight: bold;
    font-family: arial;
    color: white;
    position: absolute;
    top: 200px;
    left: 230px;

}

#website{
    
    font-size: 20px;
    font-family: arial;
    color: white;
    position: absolute;
    top: 250px;
    left: 230px;

}

#menu{
    font-size: 16px;
    font-family: arial;
    color: black;
    margin-left: 250px;
    margin-top: 18px;
  

}

#menu span{
    padding-right: 0.7em;
    padding-left: 0.7em;
    border-right: solid 1px gray;

}

#timeline{
    font-weight: bold !important;
    border-bottom: solid 2.5px blue;
    padding-bottom: 0.8em;
    border-right:none !important;

}

#more{
    border-right:none !important;
}

#baseinferior{
    background-color:white;
    width: 850px;
    height: 600px;
    position: relative;
    margin: 0 auto;


}



#esquerda{
    background-color:white;
    width: 328px;
    height: 600px;
    position: absolute;   
    
        
}


#direita{
    background-color:white;
    width: 512px;
    height: 600px;
    position: absolute;
    left: 338px;
    
    
        
}

#conteudoesquerda{
    background-color:white;
    border: gray  solid 1px;
    width: 326px;
    height: 200px;
    position: absolute;
    
}

#about{
    font-size: 16px;
    font-family: arial; 
    color: black;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 15px;


}

#lorem{
    font-size: 16px;
    font-family: arial; 
    color: blue;
    padding-left: 10px;


}

#web{
    font-size: 16px;
    font-family: arial; 
    color: blue;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 15px;


}

#conteudodireita{
    background-color:white;
    border: gray  solid 1px;
    width: 510px;
    height: 320px;
    position: absolute;
    
}

#boxmenor{
    background-color: #3b5998;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
    
    
}

#cont{
    position: absolute;
    top: 25px;
    left: 80px;
    font-size: 14px;
    font-family: arial; 
    color:gray;
    
    
}

#name{
    color: blue;
    font-weight: bold;
}

#cover{
    color: blue;

}


#boxmaior{
    background-color: #3b5998;
    width: 490px;
    height: 180px;
    position: absolute;
    top: 80px;
    left: 10px;
    
    
}

#barrainferior{
    position: absolute;
    top: 270px;
    left: 20px;
    font-size: 14px;
    font-family: arial;
    color: blue;
}
